*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:1% auto;
    background-color: $fondo;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}