#control{
    padding: 1%;
    width: 60%;
    background-color: $fondo_container;
    align-content: space-around;
    .row{
        padding: 2%;
    }
    .perilla-pequeña{
        width: 75px;
        height: 75px;
    }
    .perilla-grande{
        width: 100px;
        height: 100px;
    }
    #ajusBasic{
        display: flex;
        justify-content: space-around;
        margin-bottom: 4%;
        background-color:$fondo_row;
        .col{
            width: 50%;
            #power{
                background-color: rgb(134, 26, 26);
            }
            .buttonControl{
                border:none;
                width: 75px;
                height: 75px;
            }
        }
    }
    #poSignal{
        display: flex;
        justify-content: space-around;
        margin-bottom: 4%;
        background-color: $fondo_row;
        .col{
            width: 50%;
            #power{
                background-color: rgb(134, 26, 26);
            }
            .buttonControl{
                border:none;
                width: 75px;
                height: 75px;
            }
        }
    }
    #properties{
        display: flex;
        justify-content: space-around;
        margin-bottom: 4%;
        background-color: $fondo_row;
    }
    #conexion{
        img{
            width: 100%;
            height: 100%;
        }
    }
}