.row{
    padding: 2%;
    background-color:$fondo_row;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
}
.col{
    display: flex;
    justify-content: space-around;
    border: 2px solid $border_col;
    border-radius: 10px;
    margin: 1%;
    padding: 2%;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        text-align: center;
    }
    .scale{
        font-size: medium;
        text-align: center;
        margin-top: 15px;
        padding: 5px;
        width: 80%;
        background-color: white;
    }
}

#control{
    padding: 1%;
    width: 60%;
    background-color: $fondo_container;
    align-content: space-around;
    .perilla{
        width: 20%;
        height: auto;
    }
}

#start{
    width: 70%;
    align-items: center;
    h4{
        width: 30%;
        height: auto;
        text-align: center;
        padding: 4%;
    }
    #power{
        background-color: rgb(139, 11, 11);
        color: rgb(197, 197, 197);
        &:hover{
            background-color: rgb(116, 9, 9);
            color: white;
        }
    }
    #auto{
        background-color: rgb(218, 218, 218);
        color: rgb(37, 37, 37);
        &:hover{
            background-color: white;
            color: black;
        }
    }   
}



.channel{
    width: 40%;
    article{
       width: 80%;
       #red{
        background-color: red;
       }
       #blue{
           background-color: blue;
       }
       h4{
           color: rgb(207, 207, 207);
           padding: 5px;
           margin-bottom: 2%;
       }
        a{
            width: 30%;
            height: auto;
            padding: 2%;
            background-color: rgb(139, 11, 11);
            color: white;
            text-align: center;
        }
    }
}