#visual{
    width: 30%;
    background-color:$fondo_container;
    padding: 2%;
    #display{
        img{
            width: 100%;
            height: 100%;
        }
        margin-bottom: 4%;
    }
    #comproFunc{
        img{
            width: 100%;
            height: 100%;
        }
    }
}